*{
    margin: 0;
    padding: 0;
    background-color:#d2d4d6;
}
.textbox{
    margin-top: 200px;
    margin-left: 150px;
}
h1{
    font-size: 55px;
    color: #0866ff;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 28px;
    font-weight: normal;
    width: 500px;
    line-height: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 400px;
    height: 350px;
    margin-top: -167px;
    margin-right: 197px;
    float: right;
    border-radius: 12px;
    background-color: white;
    width: 390px;
    height: 390px;
    text-align: center;
    text-shadow: 10px 10px 10px gray(112, 112, 112);
}

.form{
  
    float: right;
    margin-right: 11px;
    margin-top: 25px;
    padding: 2px;
    background-color: white;

}
.form input{
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    color: gray;
    width: 332px;
}
button{
    margin-top: 15px;
    background-color: #0866ff;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 13px;
}
p{
    background-color: white;
    font-size: 16px;
    color: #0866ff;
    margin-bottom: 18px;
}
p a{
    color: #0866ff;
    background-color: white;
    text-decoration: none;
    
}
.btn{
    padding-top: 5px;
    border-top: 2px solid #cececf;
    background-color: white;
    margin: left 10px; ;
    margin-right: 10px ;
}
.btn button{
    background-color: #42b72a;
}